{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock %}
{% block content %}
    {% include './groop-headline.html' %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="POST" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <div class="alert alert-danger">
                            <span>{{ error }}</span>
                        </div>
                    {% endfor %}
                {% endfor %}
                <div class="form-group">
                    <input type="text"
                           name="email"
                           required
                           id="id_email"
                           class="form-control"
                           placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text"
                           name="username"
                           required
                           id="id_username"
                           placeholder="Username"
                           class="form-control">
                </div>
                <div class="form-group">
                    <input type="password"
                           name="password1"
                           required
                           id="id_password1"
                           placeholder="Password"
                           class="form-control">
                </div>
                <div class="form-group">
                    <input type="password"
                           name="password2"
                           required
                           id="id_password2"
                           placeholder="Password (again)"
                           class="form-control">
                </div>
                <button class="btn btn-dark mt-2 form-control" type="submit">Register</button>
            </form>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-2">
                <span class="or-text d-flex justify-content-center">or</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-2">
                <h3>
                    <a class="btn btn-outline-dark form-control"
                       href="{% url 'account_login' %}">Login</a>
                </h3>
            </div>
        </div>
    </div>
{% endblock %}
