{% extends 'base.html' %}
{% block title %}
    my invites
{% endblock title %}
{% block content %}
    {% if is_empty %}<h4>No invatations here..</h4>{% endif %}
    {% for obj in qs %}
        <div class="card mt-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <img class="small-avatar" src={{ obj.avatar.url }}>
                    </div>
                    <div class="col">
                        <h3>{{ obj.user }}</h3>
                        <p>{{ obj.bio }}</p>
                        <div class="row">
                            <div class="col-auto">
                                <a href={{ obj.get_absolute_url }}>
                                    <button class="btn btn-primary btn-sm">See profile</button>
                                </a>
                            </div>
                            <div class="col-auto">
                                <form action="{% url 'profiles:accept-invite' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="profile_pk" value={{ obj.pk }}>
                                    <button type="submit" class="btn btn-success btn-sm">Accept invite</button>
                                </form>
                            </div>
                            <div class="col-auto">
                                <form action="{% url 'profiles:reject-invite' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="profile_pk" value={{ obj.pk }}>
                                    <button type="submit" class="btn btn-danger btn-sm">Reject invite</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
