{% extends 'base.html' %}
{% block title %}
    my profile
{% endblock title %}
{% block content %}
    <div class="modal fade" tabindex="-1" id="updateprof">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="updateprfoLabel">Update Profile</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action=""
                          method="POST"
                          class="form-control"
                          enctype='multipart/form-data'>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container card mt-4">
        {% if confirm %}<div class="alert alert-success mt-2">Your profile has been updated</div>{% endif %}
        <div class="card-body">
            <div class="row">
                <div class="col-auto">
                    <img class="avatar" src={{ profile.avatar.url }}>
                    <div class="row text-center">
                        <button class="btn btn-primary"
                                id='modal-btn'
                                data-bs-toggle="modal"
                                data-bs-target="#updateprof">
                            Update Your Profile
                        </button>
                    </div>
                </div>
                <div class="col">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Username</td>
                                <td>{{ profile.user }}</td>
                            </tr>
                            <tr>
                                <td>First Name</td>
                                <td>{{ profile.first_name }}</td>
                            </tr>
                            <tr>
                                <td>Last Name</td>
                                <td>{{ profile.last_name }}</td>
                            </tr>
                            <tr>
                                <td>Bio</td>
                                <td>{{ profile.bio }}</td>
                            </tr>
                            <tr>
                                <td>Number Of Friends</td>
                                <td>{{ profile.get_friends_no }}</td>
                            </tr>
                            <tr>
                                <td>Number Of Posts</td>
                                <td>{{ profile.get_posts_no }}</td>
                            </tr>
                            <tr>
                                <td>Number Of Likes Given</td>
                                <td>{{ profile.get_likes_given_no }}</td>
                            </tr>
                            <tr>
                                <td>Number Of Likes Received</td>
                                <td>{{ profile.get_likes_recieved_no }}</td>
                            </tr>
                            <!-- <tr> -->
                            <!--     <td>Friends</td> -->
                            <!--     <td> -->
                            <!--         <ul style="text-decoration: None"> -->
                            <!--         </ul> -->
                            <!--         <table class="table"> -->
                            <!--             <tbody> -->
                            <!--             {% for friend in profile.get_friends %} -->
                            <!--             <tr> -->
                            <!--                 <td> -->
                            <!--                 {{ friend }} -->
                            <!--                 <td> -->
                            <!--             </tr> -->
                            <!--             {% endfor %} -->
                            <!--             </tbody> -->
                            <!--         </table> -->
                            <!--     </td> -->
                            <!-- </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script>
        setTimeout(function() {
            for (let element of document.getElementsByClassName("alert")) {
                element.style.display = "none";
            }
        }, 2000);
    </script>
{% endblock scripts %}
