{% url 'posts:main-post-view' as path_to_posts %}
{% url 'profiles:search-profile-view' as path_to_search_profiles %}
{% url 'posts:notification-view' as path_to_notifications %}
{% url 'profiles:my-profile-view' as path_to_my_profile %}
<nav class="container fixed-top bg-body-tertiary">
    <div class="row">
        {% if request.user.is_authenticated %}
            <div class="col">
                <a class="nav-divnk d-flex justify-content-center"
                   aria-current="page"
                   href="{{ path_to_posts }}">
                    <i class="bi bi-house"></i>
                </a>
            </div>
            <div class="col">
                <a class="nav-divnk d-flex justify-content-center"
                   href="{{ path_to_search_profiles }}">
                    <i class="bi bi-search"></i>
                </a>
            </div>
            <div class="col">
                <a class="nav-divnk d-flex justify-content-center"
                   href="{{ path_to_notifications }}">
                    <i class="bi bi-bell"></i>
                </a>
            </div>
            <div class="col">
                <a class="nav-divnk d-flex justify-content-center"
                   href="{{ path_to_my_profile }}">
                    <i class="bi bi-person"></i>
                </a>
            </div>
            <div class="col">
                <a class="nav-divnk d-flex justify-content-center"
                   href="{% url 'account_logout' %}">
                    <i class="bi bi-box-arrow-right"></i>
                </a>
            </div>
        {% endif %}
    </div>
</nav>
