html, body {
    height: 100%;
}


.dropdown-item:hover {
    text-decoration: none;
}

}

.row {
    margin: 0px;
    padding: 0px;
}

.toast a {
    text-decoration: none;
    color: black;

}

#create-post-textbox, #create-comment-textbox {
    display: block;
    widht: 100%;
    border: none;
    outline: none;
    overflow: hidden;
    resize: none;
    min-height: 20px;
    line-height: 20px;
    padding-left: 0px;
}

.search-profile p, .search-profile small, .search-profile .col {
    padding: 1px 1px;
}

.search-profile p {
    margin-bottom: 0px;
}

}

.home-post-image img {
    max-height: 20rem;
    max-width: 20rem;
}

.btn-outline-primary {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.pull-right {
    float: right;
}

form * {
    margin-bottom: 0.3rem;
}

.bi {
    font-size: 1.7rem;
    color: #000000;
    padding: 10px 15px;
}

.bi:hover {
    background: #f2f2f2;
    border-radius: 20%;
}

.bi-heart-fill::before {
    color: #dc3545;
}

.avatar {
    height: 6em;
    width: 6em;
    margin-bottom: 1em;
    border-radius: 100%;
}

.md-avatar {
    height: 15em;
    width: 15em;
}

.small-avatar {
    display: inline-block;
    height: 2.1em;
    width: 2.1em;
    margin-top: 0.5em;
    margin: 10px 15px;
    border-radius: 100%;
}

.xsmall-avatar {
    display: inline-block;
    height: 2.1em;
    width: 2.1em;
    border-radius: 100%;
}
