html, body {
    height: 100%;
}

body {
    background: url("./assets/bg.png") bottom left no-repeat fixed;
}

home-post {
    margin: 0px;
}

.home-post-image img {
    max-height: 20rem;
    max-width: 20rem;
}

.btn-outline-primary {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.pull-right {
    float: right;
}

form * {
    margin-bottom: 0.3rem;
}

.avatar {
    height: 25em;
    width: 25em;
    margin-bottom: 1em;
}

.md-avatar {
    height: 15em;
    width: 15em;
}

.small-avatar {
    display: inline-block;
    height: 2.5em;
    width: 2.5em;
    border-radius: 100%;
}

.xsmall-avatar {
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    border-radius: 100%;
}

