{% load static %}
<a class="btn create-post"
   data-bs-toggle="modal"
   data-bs-target="#create-post-overlay">
    <div class="mt-4 create-post row me-0">
        <div class="col-md-auto">
            <img src='{{ picture.url }}' class="rounded-circle xsmall-avatar" />
        </div>
        <div class="col pt-1">
            <p>Create a post...</p>
        </div>
        <div class="col-md-auto">
            <button class="btn btn-outline-dark btn-sm" disabled>Post</button>
        </div>
    </div>
</a>
