{% extends "base.html" %}
{% block title %}
    home
{% endblock title %}
{% block content %}
    <div class="row">
        <div class="row">{% include 'posts/add_post.html' %}</div>
        <div class="row mt-2">
            {% for obj in qs %}
                {% include 'posts/post.html' %}
            {% endfor %}
        </div>
    </div>
    {% include 'posts/create-post-modal.html' %}
    {% include 'posts/create-comment-modal.html' %}
    {% include 'posts/create-toast.html' %}
{% endblock content %}
{% block scripts %}
    <script type="text/javascript">
        modal_focus(gebid('create-post-overlay'), gebid('create-post-textbox'));
        modal_focus(gebid('create-comment-overlay'), gebid('create-comment-textbox'), true);
    </script>
{% endblock scripts %}
