{% load static %}
<div class="row border-top pt-2 pb-2 flex-nowrap">
    <div class="row home-post">
        <div class="col-md-auto">
            <img src="{{ obj.author.avatar.url }}"
                 class="rounded-circle xsmall-avatar"/>
        </div>
        <div class="col">
            <div class="row">
                <div class="row">
                    <div class="col">
                        <strong>{{ obj.author.user }}</strong>
                    </div>
                    <div class="col-md-auto">
                        <small class="text-muted">{{ obj.created|date:"d M, y" }}</small>
                    </div>
                    <div class="col-md-auto">
                        <div class="dropdown">
                            <i class="bi bi-three-dots-vertical d-flex justify-content-right"
                               type="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                            </i>
                            <ul class="dropdown-menu dropdown-menu-start">
                                {% if obj.author.user == profile.user %}
                                    <li>
                                        <a class="dropdown-item"
                                           href=""
                                           onclick="delete_post({{ obj.id }}, '{% url "posts:delete-post-view" %}')">Delete</a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a class="dropdown-item"
                                       href="{% url 'posts:post-detail-view' obj.id %}">Go to comments</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row"
                     onclick="go_to_url('{% url "posts:post-detail-view" obj.id %}')">
                    <div class="col home-post-content">{{ obj.content }}</div>
                    {% if obj.image %}
                        <div class="home-post-image pt-2 pb-2">
                            <img src={{ obj.image.url }}>
                        </div>
                    {% endif %}
                </div>
                {% if not profile_view %}
                    <div class="row mt-1 home-post-lc">
                        <div class="col-md-auto">
                            <button class="btn btn-link like-btn"
                                    onclick="like_post(this, {{ obj.id }}, '{% url "posts:like-post-view" %}')"
                                    type="submit">
                                {% if obj.likes %}
                                    <i class="bi bi-heart-fill"></i>
                                {% else %}
                                    <i class="bi bi-heart"></i>
                                {% endif %}
                            </button>
                        </div>
                        <div class="col-md-auto">
                            <buttom class="btn btn-link" data-bs-toggle="modal" data-bs-target="#create-comment-overlay" data-pid="{{ obj.id }}">
                            <i class="bi bi-chat-right"></i>
                            </buttom>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-auto">
                            <small class="text-muted like-cnt-{{ obj.id }}">{{ obj.num_likes }} likes</small>
                        </div>
                        <div class="col-md-auto ps-0">
                            <small class="text-muted">{{ obj.num_comments }} replies</small>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
