{% load static %}
<div class="row border-top pt-2 pb-2 flex-nowrap">
    <div class="row home-post">
        <div class="col-md-auto">
            <img src="{{ obj.author.avatar.url }}"
                 class="rounded-circle xsmall-avatar"/>
        </div>
        <div class="col">
            <div class="row">
                <div class="row">
                    <div class="col">
                        <strong>{{ obj.author.user }}</strong>
                    </div>
                    <div class="home-post-content">{{ obj.content }}</div>
                    <div class="home-post-image">
                        {% if obj.image %}<img src={{ obj.image.url }}>{% endif %}
                    </div>
                </div>
            {% if not profile_view %}
                <div class="row mt-1">
                    <div class="col-auto home-post-like">
                        <form method="POST"
                              action="{% url 'posts:like-post-view' %}"
                              id='{{ obj.id }}'>
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value={{ obj.id }} />
                            <button class="btn btn-sm btn-outline-primary" type="submit">
                                {% if profile in obj.liked.all %}
                                    unlike
                                {% else %}
                                    like
                                {% endif %}
                                | {{ obj.num_likes }}
                            </button>
                        </form>
                        </div>
                        <div class="col-md-auto">
                            <buttom class="btn btn-link" data-bs-toggle="modal" data-bs-target="#create-comment-overlay" data-pid="{{ obj.id }}">
                            <i class="bi bi-chat-right"></i>
                            </buttom>
                        </div>
                    </div>
                        </div>
                        <div class="col-md-auto ps-0">
                            <small class="text-muted">{{ obj.num_comments }} replies</small>
                        </div>
                    </div>
                </div>
            {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
